@import "../../app.scss";

.cursor{
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border: .5px solid white;
    position: fixed;
    z-index: 999;

    @include mobile{
        display: none;
    }


}